@font-face {
  font-family: Inter-Regular;
  src: url("@/static/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Medium;
  src: url("@/static/fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Inter-SemiBold;
  src: url("@/static/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Inter-Bold;
  src: url("@/static/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
